<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ hugo.Generator }}
    <title>{{ .Site.Title }}</title>

    {{ $style := resources.Get "style.scss" | resources.ToCSS -}}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">
  </head>
  <body>
  {{ block "body" . }}
  {{ end }}
  </body>
</html>
