html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

table {
  border-collapse: collapse;
  th {
    border-bottom: 1px solid currentColor;
    text-align: left;
  }
  td.name {
    padding-right: 3rem;
  }
  tbody tr:nth-child(odd) {
    background-color: rgba(128, 128, 128, 0.125);
  }
}
