{{ define "body" }}
  <main>
    <h1>{{ .Title }}</h1>
    {{ .Content }}
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Size</th>
        </tr>
      </thead>
      <tbody>
        {{ range readDir "/static" }}
        <tr>
          <td class="name"><a href="{{ .Name }}">{{ .Name }}</a></td>
          <td class="size">{{ div .Size 1000 }}K</td>
        </tr>
        {{ end }}
      </tbody>
    </table>
  </main>
{{ end }}
